.contentWrapper {
  margin-bottom: 20px; 
  height: calc(100%);
  box-sizing: border-box;
  /* background-color: black; */
  /* color: red; */
  overflow: hidden;
}

.BreadcrumbWrapper{
  margin-bottom: 10px;
}