.contentWrapper {
    padding: 20px;
    margin-bottom: 20px;
    height: calc(100%);
    box-sizing: border-box;
    overflow: hidden;
}

.breadCrumbWrapper {
    padding-bottom: 10px!important;
    color: rgb(31, 29, 29)!important;
}
